.blue {
    background-color: blue;
    color:white
  }
.container { 
    max-width: 1140px; 
    
    background-color: brown;
    margin: auto;

    padding-left:  15px;

    padding-right: 15px ;
}

body { font-family: "Sen", sans-serif; 
}
img {
  max-width: 100%;
  height: auto;
}
