* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

form.searchbar {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}
html{ 
  font-size: 62.5%;

}
body {
  font-family: "Sen", sans-serif;
  font-size: 1.6rem;
}
h2 {
  font-size: 3.8rem;
}
.sectionheding {
  margin: 45px 206.4px 30px;
  text-align: center;
 
} 
select#kõik {
  border-radius: 6px;
  padding: 1em 2.5em 1em 1em;
  background-image: none;
  font-size: 16px;
  min-height: 0;
  min-width: 140px;
}

.container {
  max-width: 1140px;

  
  margin: auto;

  padding-left: 15px;

  padding-right: 15px;
}

input.searchbar__input {
  border-radius: 6px;
  padding: 11.2px 61px 11.2px 16px;
}

img {
  max-width: 100%;
  height: auto;
}
.section--lgpadding {
  padding: 120px 0px;
}
.section--beige {
  background-color: #ebf0d6;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.row--threecolums {
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: column;
  display: grid;
}
.grid.sixcolums {
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  display: grid;

}
.thumbnail__broductcolor {
  border-style: double;
  border-width: 2px;
  width: 2.6rem;
  height: 2.6rem;
  padding: 2px;
  border-color: black;
  border-radius: 100%;
  background-color: #bfb9a6;
  display: inline-block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

 
 h1{

  font-size: 40px;
  margin-top: 0;
}
/* altgr+7 */
  

   
 .logo__img {
  max-height: 25px;
}
.iconmenu {
  font-size: 25px;
  gap: 20px;
  display: flex;
}
 .banner {
  color: white;
  padding: 3rem;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-color: black;
  background-image: url(./home-hero-1.jpg.webp);
  background-position: center;
  min-height: 300px;
  background-repeat: no-repeat;
}

.button {
  background-color: blue;
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  display: inline-block;
  padding: 15px;
  padding-right: 1.72em;
  padding-left: 1.7em;
}
.button--white {
  color: black;
  background: white;
}
#Tere {  
  color: blueviolet;
 }
 .row.grid.banner-colums {
  display: grid;
  grid-template-columns: 3fr 7fr;
}
